@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    margin: auto;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 4px 0.5px rgb(228, 228, 228);
}

.div-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #764c24;
    height: 5vh;
    border-radius: 100px;
    padding: 5px;
}

.div-logo img{
    width: 5vh;
}

.div-search{
    display: flex;
    height: 1.5rem;
    align-items: center;
    padding: 5px 10px 5px 15px;
    border-radius: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid #764c24;
}

.div-search i {
    color: #764c24;
    margin-left: 8px;
}

.div-input-search {
    width: 100%;
}

.div-input-search input{
    all: unset;
    width: 100%;
    color: #764c24;

}

.div-input-search input::placeholder {
    color: #764c24;
}

.div-input-search input::-webkit-search-decoration,
.div-input-search input::-webkit-search-cancel-button,
.div-input-search input::-webkit-search-results-button,
.div-input-search input::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

nav {
    margin: auto;
    width: 100%;
}

.div-nav {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 5px 15px;
    overflow-x: auto;
    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
}

.div-nav::-webkit-scrollbar{
    display: none;
}

.div-nav button {
    all:unset;
    width: 4rem;
    flex-shrink: 0;
    padding: 8px 7px;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: #764c24;
    border-radius: 50px;
    box-shadow: 0px 1px 3px 1px rgb(226, 226, 226);
    cursor: pointer;
}

.div-nav button.ativo { /*Vai pegar o botao dentro da div que tiver a classe 'ativo'*/
    background-color: #764c24;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 160px;
}

.div-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.div-cookie {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    padding: 20px 20px;
    box-shadow: 0px 0px 9px 3px rgb(238, 238, 238);
    max-width: 350px;
    min-height: 572px;/*da pra comentar*/
}

.img-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-cabecalho-cookie {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 90%;
}

.div-cabecalho-cookie h1 {
    font-size: 1.5rem;
    line-height: 1.4;
    word-break: break-word;
    margin: -5px 0;
}

.div-cabecalho-cookie span{
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
    flex-shrink: 0;
}

.div-descricao {
    margin: 10px auto;
    width: 90%;
    flex-grow: 1;
}

.div-descricao p {
    text-align: center;
}

.div-add-carrinho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.div-quantidade {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 1em;
    width: 50%;
    font-size: 1.3em;
    background-color: rgb(233, 233, 233);
    padding: 8px;
    border-radius: 50px;
}

.div-quantidade i{
    cursor: pointer;
}
.add-button{
    all: unset;
    width: 100%;
    height: 2.2em;
    text-align: center;
    color: white;
    background-color: #764c24;
    border-radius: 50px;
    cursor: pointer;
}

footer {
    box-shadow: 0 2px 8px 5px rgb(197, 197, 197);
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.div-footer {
    width: 90%;
    margin: auto;
}

.div-carrinho {
    display: flex;
    justify-content: space-between;
    margin: 15px auto 15px;
}

.div-carrinho h2 {
    margin: -2px 0;
}

.div-carrinho span {
    font-weight: 600;
    font-size: 1.3rem;
}

.div-button-whats {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    padding: 10px;
    border-radius: 50px;
}

.div-button-whats button {
    all: unset;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.div-cri p {
    font-size: 0.8rem;
    text-align: center;
}
